@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Preahvihear&display=swap');

:root {
    --bg-color: #FFE7ED;
    --color-blue: #0172B6;
    --color-beige: #FAF3E1;
    --color-red: #B92323;
    --header-font: "Montserrat", sans-serif;
    --para-font: "Preahvihear", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    
    /* FIX 1: Make body a Flex Container to center the 'main' tag */
    display: flex;
    justify-content: center; /* Centers 'main' Horizontally (Left/Right) */
    align-items: center;     /* Centers 'main' Vertically (Up/Down) */
    font-family: var(--para-font);
}

main {
    width: 75%;
    
    /* FIX 2: Internal Layout of the Main tag */
    display: flex;
    flex-direction: column;
    align-items: center;     /* Centers text/inputs horizontally inside the column */
    
    /* REMOVED: justify-items: center; (This does not work in Flexbox) */
    /* OPTIONAL: If you want items centered vertically inside the 75% width box: */
    justify-content: center; 
}

.container-1 {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.container-1 img {
    position: absolute;
    bottom: 0;
}

.container-1 h1 {
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 8rem;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
    margin-left: 13.75rem;
}

.container-2 p{
    font-size: 2rem;
    margin: 0 150px;
    text-align: center;
}

.container-3 form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.container-3 input {
    height: 60px;
    width: 550px;
    border-radius: 20px;
    background-color: white;
    border: 0;
    padding: 0 20px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

.container-4 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-4 button {
    height: 60px;
    width: 120px;
    border: 0;
    background-color: var(--color-blue);
    color: white;
    border-radius: 20px;
    font-family: var(--para-font);
}

.container-4 button:hover {
    filter: brightness(90%);
    transition: .5s;
}


